{% extends 'base.html' %}
{% block content %}
    <h1>Preguntas</h1>
    <div class="d-flex flex-column">
        {% for question in object_list %}
            <div class="card w-100 my-2 p-3">
                <div class="d-flex flex-row">
                    <div class="col-10">
                        <h3 class="fw-bold">{{ question.title }}</h3>
                    </div>
                    <div class="col-2">
                        <span class="fw-lighter">Autor:</span> {{ question.author }}
                    </div>

                </div>
                <div class="d-flex flex-row">
                    <div class="col-10">
                        <p class="fw-bold">{{ question.description }}</p>
                    </div>
                    <div class="col-2">
                        <u class="fw-lighter mb-1">Evalúa la pregunta</u>
                        <div>
                            <a class="mx-1 like {% if question.user_likes %}fas{% else %}fal{% endif %} fa-thumbs-up text-decoration-none"
                               href="#" data-question="{{ question.pk }}" data-value="like" ></a>
                            <a class="mx-1 like {% if question.user_dislikes %}fas{% else %}fal{% endif %} fa-thumbs-up fa-flip-both text-decoration-none"
                               href="#" data-question="{{ question.pk }}" data-value="dislike"></a>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row">




                </div>
                <br>

                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column col-4">
                    </div>
                    <div class="col-4 d-flex flex-column ">
                    </div>
                    <div class="col-2">
                        <u class="fw-lighter mb-1">Ranking:</u>
                        <div>
                           {{ question.ranking }} pts.
                        </div>
                    </div>
                </div>


                {% for answer in question.question_answers.all %}
                
                    <div class="col12">
                        <div class="d-flex flex-column col-4">

                            <u class="fw-lighter mb-1">Respuesta {{ answer.comment }}</u>
                            
                            <div>
                                {% for val in '12345' %}
                                    <a class="mx-1 answer {% if question.user_value|slugify == val %}fas{% else %}fal{% endif %} fa-star text-decoration-none"
                                    data-question="{{ question.pk }}"
                                    data-value="{{ val }}" href="#"></a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-4 d-flex flex-column ">
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% empty %}
            <div>No hay preguntas.</div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script>

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        $('a.answer').click(function (event) {
            event.preventDefault()
            let value =$(this).data('value')
            let question =$(this).data('question')

            $.post(
                '{% url "survey:question-answer" %}',
                {"question_pk": question, "value": value},
                function (data) {
                    console.log(value);
                    console.log(question);

                    location.reload();
                }
            );
        });

        $('a.like').click(function (event) {
            event.preventDefault()
            let value = $(this).data('value')
            let question = $(this).data('question')

            $.post(
                '{% url "survey:question-like" %}',
                {"question_pk": question, "value": value},
                function (data) {
                    location.reload();
                }
            );
        });


    </script>

{% endblock %}